// = Main Navbar
// ============================================================================
.o_main_navbar {
    --NavBar-entry-color--active: #{$o-component-active-color};
    --NavBar-entry-borderColor-active: #{$o-component-active-border};
    --NavBar-entry-backgroundColor--active: #{$o-component-active-bg};
    --NavBar-entry-backgroundColor--hover: #{$o-gray-200};
    --NavBar-entry-backgroundColor--focus: #{$o-gray-200};

    --Dropdown_menu-margin-y: #{map-get($spacers, 1)};

    .o_menu_toggle {
        color: var(--NavBar-menuToggle-color, #{$o-brand-odoo});
    }

    .o_menu_brand {
        max-width: 18rem;
    }
}

// Mobile app-menu drawer
.o_app_menu_sidebar {
    z-index: $zindex-modal + 1;
    width: 82vw;
    max-width: 340px;
    background: var(--bs-body-bg);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

// Ensure the SuperUser design menu is not compressed
body.o_is_superuser .o_menu_systray {
    border-image-outset: map-get($border-widths, 5);
}
